body {
    background-color: rgb(44, 44, 44);
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 30px;
    padding: 10px;
}
p {
    color: rgb(0, 0, 0);
    font-style: italic;
    padding: 10px;
    margin: 50px;
    font-size: large;
    text-align: center;
    font-family: cursive;
    background-color: rgb(255, 148, 246);